 main {
     display: flex;
     flex-wrap: wrap;
     margin-top: 2%;
     background-color: rgb(130, 192, 130)
 }

 h1 {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center

 }
 h2 {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center

 }
 .side-bar {
    display: block;
    justify-content: space-between;
    padding: 20px;
    background: rgb #13295c;
    color: #cde;
}
 .surf {
     display: block;
     justify-content: space-between;
     padding: 20px;
     background: rgb #13295c;
     color: #cde;
     box-shadow: 0px 15px 75px rgba(166, 168, 171, 0.5);
 }

 .wall {
     display: flex;
     justify-content: space-between;
     padding: 60px;
     background: #3a91e2;
     color: #fff;
     box-shadow: 0px 15px 75px rgba(166, 168, 171, 0.5);
 }
 .calculator {     
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #3a91e2;
    color: #fff;
    box-shadow: 0px 15px 75px rgba(166, 168, 171, 0.5);
}

 .puzzle {     
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #3a91e2;
    color: #fff;
    box-shadow: 0px 15px 75px rgba(166, 168, 171, 0.5);
}